* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 2em auto;
    border-bottom: 1px solid #F5F5F5;;
}

.image-container {
    width: 100%;
    height: 20em;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.card > section {
    margin-top: 1.5em;
}

.location-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.location {
    color: #2B283A;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

.google-link {
    color: #918E9B;
    
}

.title {
    color: #2B283A;
    font-size: 2rem;
    margin: 0.5em 0;
}

.dates {
    color: #2B283A;
    font-weight: 700;
    margin: 0.5em 0;
}

.description {
    color: #2B283A;
    line-height: 150%;
    margin: 1.5em 0;
}

@media (min-width: 768px) {
    .card {
        display: grid;
        grid-template-columns: 20em 1fr; /* Define two columns, one for the image and one for the section */
        gap: 1em;
        max-width: 50em;
        padding: 2em;
    }
    
    .image-container {
        height: 20em; /* Maintain the same height */
    }
    
    .image {
        width: 100%;
        height: 100%; /* Maintain the same height */
    }

    .card > section {
        margin: 0;
    }
}